
/*body{
  background-color: #7EBDC2;
}
*/

#minav{
  background-color: #15191d;
}


body {
  background-color: #212529;
}

h1,h2,h3,h4,h5, button, body {
  font-family: 'Bitter', serif;
  color: #F3DFA2;
}


#destacado{
  background-color: #BB4430;
  position: relative;
  margin-top: -20px;
  z-index:10;
  box-shadow: 0 0 10px #F3DFA2;
}


.card-border{
  border: solid 10px #7EBDC2;
  border-radius: 20px;
  overflow: hidden;
  transition: all ease-out 0.2s;
}

.card-border:hover{
  transform: scale(1.05);
}

#news-destacadas{
  background: rgb(255,255,255);
  background: url(../img/bg-02.png),  linear-gradient(0deg, #1A181B 0%, #212529 57%);
  background-repeat: repeat-x;
  background-size: 75%;
  margin-top: -20px;
  
}

.card-border{
  border: solid 10px #BB4430;
  border-radius: 20px;
  overflow: hidden;
  transition: all ease-out 0.2s;
  box-shadow: 0 0 10px #F3DFA2;
}
.card-border:hover{
  transform: scale(1.05);
}

.contacto {
  background-image: url('../img/contacto.jpg'); 
  background-size: cover;

}
.colorp {
  color: #F3DFA2;
}

.btn-pink {
  background-color: #BB4430;
  color: #F3DFA2;
}
.btn-pink:hover {
  background-color: #F3DFA2;
  color: #BB4430;
}

footer {
    
      padding: 20px 0;
      position: relative;
    }
    
    .footer-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 15px;
      }
    
    footer p {
      color: #BB4430;
      margin-top: 5px;
      margin-bottom: 15px;
    }
    
    footer nav {
      text-align: center;
    }
    
    footer ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
    }
    
    footer li {
      margin: 0 10px;
    }
  
    footer li a{
      color: #F3DFA2;
      text-decoration: none;
      font-weight: bold;
    }
    
    footer li:first-child {
      margin-left: 0;
    }
    
    footer li:last-child {
      margin-right: 0;
    }
  
    footer li a:hover{
      padding: 5px 10px;
      background-color: #F3DFA2;
      color: #BB4430;
      border-radius: 15px;
      transition: all 0.5s ;
  }