@media (max-width:400px)  {
    footer ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .galera-fotos {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }


}
    
